.btn {
  min-width: 8.63rem;
  padding: 0.25rem 1rem;
  background-color: var(--neutral-10);
  border: 1px solid var(--neutral-40);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5rem;
  font-family: inherit;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.primary {
  background-color: var(--primary);
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: var(--neutral-10);
  border: 1px solid var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.modal-close {
  min-width: 1.5rem;
  min-height: 1.5rem;
  font-size: 100%;
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  color: var(--neutral-90);
}
