.group-container {
  min-width: 20.375rem;
  padding: 1.125rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.green {
  border: 1px solid var(--primary);
}

.yellow {
  border: 1px solid var(--secondary-border);
}

.red {
  border: 1px solid var(--danger-border);
}

.group-container-desc {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--neutral-90);
}

.add-task-btn {
  border: none;
  font-family: inherit;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.416875rem;
  padding: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  cursor: pointer;
}
