.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 2;
}

.modal {
  min-width: 26.25rem;
  background-color: var(--neutral-10);
  border-radius: 0.625rem;
  padding: 1.5rem;
}
